* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.main .left {
  background-image: url("/images/dark-ribs.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1.5;
}

.left .header {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

.left #logo {
  width: max-content;
  margin: 0 auto;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-top: 0.6rem solid #f18119;
  color: #f18119;
}
.left .content {
  width: 100%;
  font-size: 3.4rem;
  font-weight: lighter;
}
.content p span {
  font-weight: 700;
}

.content .join {
  color: #f18119;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right * {
  margin: 0.4em 0;
}
.right h1 {
  margin: 0;
}
.right h2 {
  color: #f18119;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
}
.right p {
  color: #5a5a5a;
  width: 75%;
  text-align: center;
}
.right input {
  width: 50%;
  min-width: 250px;
  height: 45px;
  border: 1px solid #818181;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  outline: none;
}
.right button {
  width: 50%;
  min-width: 250px;
  height: 45px;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  outline: none;
  background: transparent linear-gradient(270deg, #ff713b 0%, #ffa51d 100%) 0%
    0% no-repeat padding-box;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
.right button:hover {
  background: transparent linear-gradient(360deg, #ffa51d 0%, #ff713b 100%) 0%
    0% no-repeat padding-box;
}
.right small {
  font-size: 0.7rem;
  color: #989898;
}
@media (max-width: 950px) {
  .main {
    flex-direction: column;
  }
  .left {
    flex: 1;
  }

  .left .content {
    font-size: 2.3rem;
    margin: 2em 0;
  }
  .left .join {
    font-size: 1rem;
  }
  .right {
    flex: 1.5;
    margin-block: 1.3em;
  }
}
